<!DOCTYPE html>
<html>
    <head>
        <title>%TITLE%</title>
        <link href="%ROOT_URL%/assets/css/main.css" rel="stylesheet">
    </head>
    <body>
		<header>
			<a href="%ROOT_URL%/index.html"><img src="%ROOT_URL%/%LOGO%" alt="logo"/></a>
			<h2>%SUBTITLE%</h2>
			<h1>%TITLE%</h1>
		</header>
		<nav class="menu">
			<ul class="nav navbar-nav">
			%TOP_MENU%
			</ul>
		</nav>
        <div>
            %TRAIL%
            %BODY%
            %TRAIL%
			<footer>
				<p>%TITLE% &copy; %YEAR%</p>
				<p>last modification %GEN_TIME%</p>
			</footer>
        </div>
    </body>
</html>
