<div>
	<button class='btn btn-link pull-right' ng-click='vm.showFilters = !vm.showFilters'
		title='Show options'>
		<span class='glyphicon glyphicon-cog text-muted' />
	</button>
	<form class='form-inline form-filters' ng-if='vm.showFilters'>

		<div class='form-group has-icon' ng-if='vm.allowString'>
			<input type='text' class='form-control' ng-change='vm.filter()'
				ng-model-options='{ debounce: 300 }'
				ng-model='vm.filterText' placeholder='Filter...'>
			<span class='glyphicon glyphicon-filter form-control-icon text-muted'></span>
		</div>

		<div class='form-group' ng-if='vm.allowedGroups.length > 1'>
			<label>group by</label>
			<select class='form-control' ng-model='vm.defaultGroup' ng-change='vm.group()'>
				<option ng-repeat='algo in vm.allowedGroups'>{{algo}}</option>
			</select>
		</div>

		<div class='form-group' ng-if='vm.allowedOrders.length > 1'>
			<label>order by</label>
			<select class='form-control' ng-model='vm.defaultOrder' ng-change='vm.order()'>
				<option ng-repeat='algo in vm.allowedOrders'>{{algo}}</option>
			</select>
		</div>

		<div class='form-group'>
			<label>hide</label>
			<ui-select-filters options='vm.filterOptions' selected='vm.filterSelected' class='form-group' />
		</div>

		<div class='form-group' ng-if='vm.allowVisibility'>
			<label>min visibility</label>
			<button class='btn btn-link btn-xs' ng-click='vm.visibility("public")'
				title='public'>
				<span class='glyphicon glyphicon-eye-open text-success' />
			</button>
			<button class='btn btn-link btn-xs' ng-click='vm.visibility("protected")'
				title='protected'>
				<span class='glyphicon text-warning' ng-class='{
					"glyphicon-eye-open": vm.minVisibility != "public",
					"glyphicon-eye-close": vm.minVisibility == "public",
				}'/>
			</button>
			<button class='btn btn-link btn-xs' ng-click='vm.visibility("private")'
				title='private'>
				<span class='glyphicon text-danger' ng-class='{
					"glyphicon-eye-open": vm.minVisibility == "private",
					"glyphicon-eye-close": vm.minVisibility != "private",
				}'/>
			</button>
		</div>
	</form>
</div>
