<div class='card suggest-card'>

	<div>
		<div class='card-left'>
			<span class='glyphicon glyphicon-file' />
		</div>
		<div class='card-body'>
			<h4 class='card-heading'>
				{{vm.card.title}}
			</h4>
			<p>{{vm.card.description}}</p>
			<br>
			<div ng-if='vm.mode == "html"'>
				<div class='well' ng-bind-html='vm.card.html' />
			</div>
			<div ng-if='vm.mode == "md"'>
				<pre ng-bind-html='vm.card.markdown' />
			</div>
		</div>
	</div>
	<div class='card-footer text-right'>
		<button class='btn btn-xs btn-link' ng-click='vm.switchCard()'>
			<span ng-if='vm.mode == "md"'>html</span>
			<span ng-if='vm.mode == "html"'>md</span>
		</button>
		<button class='btn btn-xs btn-success' ng-click='vm.insertCard()'>Insert</button>
		<button class='btn btn-xs btn-muted' ng-click='vm.dismissCard()'>Dismiss</button>
	</div>
</div>
