<ul class='nav nav-tabs'>
	<li role='presentation' class='active'>
		<a data-toggle='tab' data-target='#doc'>
			<span class='glyphicon glyphicon-book'/> Doc
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#graph' ng-click="entityCtrl.loadEntityGraph()">
			<span class='glyphicon glyphicon-object-align-vertical'/> Inheritance
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#all_props'>
			<span class='glyphicon glyphicon-tags'/> All properties
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' role='tab' data-target='#linearization' aria-controls='linearization' ng-click='entityCtrl.loadEntityLinearization()'>
			<span class='glyphicon glyphicon-arrow-down'/> Linearization
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' role='tab' data-target='#metrics' aria-controls='metrics' ng-click='entityCtrl.loadStructuralMetrics(); entityCtrl.loadPieChart()'>
			<span class='glyphicon glyphicon-stats'/> Metrics
		</a>
	</li>
</ul>

<div class='tab-content'>
	<div role='tabpanel' class='tab-pane fade in active' id='doc'>
		<div class='col-xs-3'>
			<ui-summary target='#summary-content' />
		</div>
		<div id='summary-content' class='col-xs-9'>
			<entity-card mentity='mentity' default-tab='doc' no-synopsis='true' />

			<entity-list list-title='Parents'
				list-entities='mentity.parents'
				list-object-filter='{}' />

			<entity-list list-title='Constructors'
				list-entities='mentity.all_mproperties'
				list-object-filter='{is_init: true}' />

			<entity-list list-title='Introduced properties'
				list-entities='mentity.intro_mproperties'
				list-object-filter='{is_init: "!true"}' />

			<entity-list list-title='Redefined properties'
				list-entities='mentity.redef_mproperties'
				list-object-filter='{is_init: "!true"}' />
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='all_props'>
		<entity-list list-title='All properties' list-entities='mentity.all_mproperties'
			list-object-filter='{}' />
	</div>
	<div role='tabpanel' class='tab-pane fade' id='linearization'>
		<entity-linearization
			list-title='Class definitions'
			list-entities='linearization'
			list-focus='mentity.intro' />
	</div>
	<div role='tabpanel' class='tab-pane fade' id='graph'>
		<div class='card'>
			<div class='card-body text-center'>
				<entity-graph mentity='mentity' graph='graph' />
			</div>
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='metrics'>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='card-body container-fluid'>
					<div class='col-sm-6'>
						<h4>
							Inheritance kind
							<small>({{metrics.mclass.CNOA.sum}}	ancestors)</small>
						</h4>
						<pie-chart chart-data='[
							{
								"label": "Interfaces",
								"value": metrics.mclass.cnoai.sum,
								"color": "#D35400"
							},
							{
								"label": "Abstract Classes",
								"value": metrics.mclass.cnoaa.sum,
								"color": "#8E44AD"
							},
							{
								"label": "Concrete Classes",
								"value": metrics.mclass.cnoac.sum - metrics.mclass.cnoaa.sum,
								"color": "#3498DB"
							}
						]' />
					</div>
					<div class='col-sm-6'>
						<h4>
							Inheritance metrics
						</h4>
						<dl class='dl-horizontal'>
							<dt>{{metrics.mclass.CNOA.sum}}</dt>
							<dd>ancestors</dd>
							<dt>{{metrics.mclass.CNOP.sum}}</dt>
							<dd>direct parents</dd>
							<dt>{{metrics.mclass.CNOC.sum}}</dt>
							<dd>direct children</dd>
							<dt>{{metrics.mclass.CNOD.sum}}</dt>
							<dd>descendants</dd>
						</dl>
						<dl class='dl-horizontal'>
							<dt>{{metrics.mclass.CDIT.sum}}</dt>
							<dd>Depth in Inheritance Tree</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
			<div class='card'>
				<div class='card-body'>
					<h4 class='card-heading'>Property introductions vs. redefs</h4>
					<pie-chart chart-data='[
						{
							"label": "Introductions",
							"value": metrics.mclass.CNBIP.sum,
							"color": "#28B463"
						},
						{
							"label": "Redefinitions",
							"value": metrics.mclass.CNBRP.sum,
							"color": "#D35400"
						},
						{
							"label": "Inherited",
							"value": metrics.mclass.CNBHP.sum,
							"color": "#99A3A4"
						}
					]' />
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
			<div class='card'>
				<div class='card-body'>
					<h4 class='card-heading'>Property kinds</h4>
					<pie-chart chart-data='[
						{
							"label": "Attributes",
							"value": metrics.mclass.CNBIPA.sum,
							"color": "#8E44AD"
						},
						{
							"label": "Inits",
							"value": metrics.mclass.CNBIPI.sum,
							"color": "#D35400"
						},
						{
							"label": "Methods",
							"value": metrics.mclass.CNBIPM.sum,
							"color": "#28B463"
						},
						{
							"label": "Virtual Types",
							"value": metrics.mclass.CNBIPVT.sum,
							"color": "#E74C3C"
						}
					]' />
				</div>
			</div>
		</div>
	</div>
</div>
