<ul class='nav nav-tabs'>
	<li class='active'>
		<a data-toggle='tab' data-target='#doc'>
			<span class='glyphicon glyphicon-book'/> Doc
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#graph' ng-click="entityCtrl.loadEntityGraph()">
			<span class='glyphicon glyphicon-object-align-vertical'/> Imports
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' role='tab' data-target='#metrics' aria-controls='metrics' ng-click='entityCtrl.loadStructuralMetrics()'>
			<span class='glyphicon glyphicon-stats'/> Metrics
		</a>
	</li>
</ul>

<div class='tab-content'>
	<div role='tabpanel' class='tab-pane fade in active' id='doc'>
		<entity-card mentity='mentity' default-tab='doc' no-synopsis='true' />

		<entity-list list-title='Parent group' list-entities='[mentity.parent]'
			list-object-filter='{}' ng-if='mentity.parent' />

		<entity-list list-title='Subgroups' list-entities='mentity.mgroups'
			list-object-filter='{}' />

		<entity-list list-title='Modules' list-entities='mentity.mmodules'
			list-object-filter='{}' />
	</div>
	<div role='tabpanel' class='tab-pane fade' id='graph'>
		<div class='card'>
			<div class='card-body text-center'>
				<entity-graph mentity='mentity' graph='graph' />
			</div>
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='metrics'>
		<div class='col-xs-6'>
			<div class='card' ng-init='climit = 15'>
				<div class='card-body'>
					<h4 class='card-heading'>Number of introduced classes by modules</h4>
					<bar-chart chart-limit='climit' chart-data='[
						{
							"label": "Classes",
							"values": metrics.mmodules.MNBIC.values,
							"color": "#3498DB"
						}
					]' />
					<p class='text-center'>
						<button class='btn btn-link' ng-click='climit = climit > 0? -1 : 15'>Show all</button>
					</p>
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
			<div class='card' ng-init='mlimit = 15'>
				<div class='card-body'>
					<h4 class='card-heading'>Number of introduced properties by modules</h4>
					<bar-chart chart-limit='mlimit' chart-data='[
						{
							"label": "Properties",
							"values": metrics.mmodules.MNBIP.values,
							"color": "#28B463"
						}
					]' />
					<p class='text-center'>
						<button class='btn btn-link' ng-click='mlimit = mlimit > 0? -1 : 15'>Show all</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
