<ul class='nav nav-tabs'>
	<li role='presentation' class='active'>
		<a data-toggle='tab' data-target='#doc'>
			<span class='glyphicon glyphicon-book'/> Doc
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#graph' ng-click="entityCtrl.loadEntityGraph()">
			<span class='glyphicon glyphicon-object-align-vertical'/> Imports
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#code' ng-click="entityCtrl.loadEntityCode()">
			<span class='glyphicon glyphicon-console'/> Code
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#defs' ng-click="entityCtrl.loadEntityDefs()">
			<span class='glyphicon glyphicon-asterisk'/> Class definitions
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' role='tab' data-target='#metrics' aria-controls='metrics' ng-click='entityCtrl.loadStructuralMetrics()'>
			<span class='glyphicon glyphicon-stats'/> Metrics
		</a>
	</li>
</ul>

<div class='tab-content'>
	<div role='tabpanel' class='tab-pane fade in active' id='doc'>
		<div class='col-xs-3'>
			<ui-summary target='#summary-content' />
		</div>
		<div class='col-xs-9' id='summary-content'>
			<entity-card mentity='mentity' default-tab='doc' no-synopsis='true' />

			<entity-list list-title='Imported modules' list-entities='mentity.imports'
				list-object-filter='{}' />

			<entity-list list-title='Introduced classes' list-entities='mentity.intro_mclasses'
				list-object-filter='{}' />

			<entity-list list-title='Class redefinitions' list-entities='mentity.redef_mclassdefs'
				list-object-filter='{}' />
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='code'>
		<div class='card'>
			<div class='card-body'>
				<pre ng-bind-html='code' />
				<entity-location mentity='mentity' />
			</div>
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='defs'>
		<entity-list list-title='Class definitions' list-entities='defs'
			list-object-filter='{}' />
	</div>
	<div class='tab-pane fade' id='graph'>
		<div class='card'>
			<div class='card-body text-center'>
				<entity-graph mentity='mentity' graph='graph' />
			</div>
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='metrics'>
		<table width='100%' class='text-center'>
			<tr>
				<td width='50%'>
					<h5>
						<strong>{{metrics.mmodule.MNBIC.sum}}</strong>
						&nbsp;<span>classes</span>
					</h5>
				</td>
				<td width='50%'>
					<h5>
						<strong>{{metrics.mmodule.MNBIP.sum}}</strong>
						&nbsp;<span>properties</span>
					</h5>
				</td>
			</tr>
		</table>
		<div class='col-xs-12'>
			<div class='card' ng-init='mlimit = 15'>
				<div class='card-body'>
					<h4 class='card-heading'>Number of introduced properties by classes</h4>
					<bar-chart chart-limit='mlimit' chart-data='[
						{
							"label": "Properties",
							"values": metrics.mclasses.CNBIP.values,
							"color": "#28B463"
						}
					]' />
					<p class='text-center'>
						<button class='btn btn-link' ng-click='mlimit = mlimit > 0? -1 : 15'>Show all</button>
					</p>
				</div>
			</div>
		</div>
<div class='col-xs-6'>
			<div class='card'>
				<div class='card-body'>
					<h4 class='card-heading'>Class introductions vs. redefs</h4>
					<pie-chart chart-data='[
						{
							"label": "Introductions",
							"value": metrics.mmodule.MNBIC.sum,
							"color": "#3498DB"
						},
						{
							"label": "Redefinitions",
							"value": metrics.mmodule.MNBRC.sum,
							"color": "#99A3A4"
						}
					]' />
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
			<div class='card'>
				<div class='card-body'>
					<h4 class='card-heading'>Property introductions vs. redefs</h4>
					<pie-chart chart-data='[
						{
							"label": "Introductions",
							"value": metrics.mclasses.CNBIP.sum,
							"color": "#28B463"
						},
						{
							"label": "Redefinitions",
							"value": metrics.mclasses.CNBRP.sum,
							"color": "#99A3A4"
						}
					]' />
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
			<div class='card'>
				<div class='card-body'>
					<h4 class='card-heading'>Class kinds</h4>
					<pie-chart chart-data='[
						{
							"label": "Concrete classes",
							"value": metrics.mmodule.MNBICC.sum,
							"color": "#3498DB"
						},
						{
							"label": "Abstract classes",
							"value": metrics.mmodule.MNBIAC.sum,
							"color": "#8E44AD"
						},
						{
							"label": "Interfaces",
							"value": metrics.mmodule.MNBII.sum,
							"color": "#D35400"
						},
						{
							"label": "Enums",
							"value": metrics.mmodule.MNBIE.sum,
							"color": "#E74C3C"
						}
					]' />
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
			<div class='card'>
				<div class='card-body'>
					<h4 class='card-heading'>Property kinds</h4>
					<pie-chart chart-data='[
						{
							"label": "Attributes",
							"value": metrics.mclasses.CNBIPA.sum,
							"color": "#8E44AD"
						},
						{
							"label": "Inits",
							"value": metrics.mclasses.CNBIPI.sum,
							"color": "#D35400"
						},
						{
							"label": "Methods",
							"value": metrics.mclasses.CNBIPM.sum,
							"color": "#28B463"
						},
						{
							"label": "Virtual Types",
							"value": metrics.mclasses.CNBIPVT.sum,
							"color": "#E74C3C"
						}
					]' />
				</div>
			</div>
		</div>
	</div>
</div>
